**/.vscode/
**/.sass-cache/
**/.node_modules/
**/node_modules/
**/jspm_packages/
/public/css
/public/scripts/app-bundle.js**
/public/scripts/vendor-bundle.js
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
lib/
data/
*.db