<template>
    <div repeat.for="chat of activeChats" class="col-lg-4 col-md-6 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="col-md-12 pad-left">
                    <h2><i class="fa" class.bind="chat.type == 'channel' ? 'fa-hashtag' : chat.type == 'message' ? 'fa-user' : 'fa-question'"></i> ${chat.title}
                    <small>${chat.type}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown">
                        <a aria-expanded="false" class="dropdown-toggle"
                        data-toggle="dropdown" href="#" role=
                        "button"><i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i>
                                Link a video</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-paperclip"></i>
                                Attach a file 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class=
                        "fa fa-close"></i></a>
                    </li>
                </ul>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="col-md-12">
                        <ul class="list-unstyled msg_list">
                            <li repeat.for="message of chat.messages">
                                <a>
                                    <span class="image">
                                        <img alt="img" src="images/${userDetails(message.from).icon}">
                                    </span>
                                    <span>
                                        <span>${userDetails(message.from).firstName}</span>
                                        <span class="time">3 mins ago</span>
                                    </span>
                                    <span class="message">
                                        ${message.data}
                                        <div if.bind="message.attachments" id="attachments">
                                            <div repeat.for="attachment of message.attachments" id="attachment">
                                                <div id="youtube" if.bind="attachment.type == 'video'">
                                                    <iframe src="http://www.youtube.com/embed/${attachment.id}" width="427" height="240" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                                <span class="image" if.bind="attachment.type == 'image'">
                                                    <img alt="img" src="images/${attachment.id}">
                                                </span>
                                            </div>
                                        </div>
                                    </span>
                                </a>
                            </li>
                            <!--<li class="message_dark">
                                <a> <span><span>John
                                Doe</span> <span class="time">3 mins
                                ago</span></span> <span class=
                                "message">What do you need?</span></a>
                            </li>
                            <li>
                                <a><span class="image"><img alt="img" src=
                                "images/face7.ico"></span>
                                <span><span>Michael Long</span>
                                <span class="time">3 mins ago</span></span>
                                <span class="message">Im stuck on this
                                issue, and cannot debug it.. Can you help?
                                <img src="images/error.png"></span></a>
                            </li>
                            <li class="message_dark">
                                <a><span class="image"><img alt="img" src=
                                "images/face2.ico"></span> <span><span>John
                                Doe</span> <span class="time">3 mins
                                ago</span></span> <span class=
                                "message">That means that you are breaking
                                the syntax rules, you need to check the
                                documentation and follow their
                                parameters.</span></a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-md-12">
                            <input class="form-control tall-input"
                            placeholder="Message..." type="text">
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <label class="full control-label" style="float:right"><a class=
                            "btn btn-app" click.trigger="displayChats()"><i class="fa fa-envelope-o"></i>
                            send</a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>