<template>
    <require from="./limit-to"></require>
    <require from="./bootstrap-tooltip"></require>
    <div show.bind="chat.messages != null" repeat.for="chat of extractedChats | limitTo:layout.maximumChats + 1" class="animate-chat layout-${layout.id} chats-row-${layout.chatsPerRow}" class.bind="chatsActive[$index + 1].closed == 'true'  ? 'chats-row-closed' : ''">
        <div css="height: ${chatsActive[$index + 1].styles.height};" class="x_panel" class.bind="chatsActive[$index + 1].closed == 'true'  ? 'closedchat' : '' " id="chat-${$index}">
            <div class="x_title">
                <div class="col-md-12 pad-left">
                    <h2 if.bind="chat.type == 'channel'">
                        <i class="fa fa-hashtag"></i> 
                        ${channelDetails(chat.from).channelName} 
                        <small>${chat.type}</small>
                    </h2>
                    <h2 if.bind="chat.type == 'message'">
                        <i class="fa" class.bind="chat.incoming.status == 'online' ? 'fa-circle online' :
                                                  chat.incoming.status == 'away' ? 'fa-circle away' : ''"></i> 
                        <i class="fa fa-user"></i> 
                        ${chat.incoming.firstName}
                        <small>${chat.type}</small>
                    </h2>
                    <a click.trigger="scroll($index)" show.bind="chatsActive[$index + 1].unreadMsgs >= 1" class="badge bg-red unread-msgs">${chatsActive[$index + 1].unreadMsgs} messages unread</a>
                    <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown">
                        <a aria-expanded="false" class="dropdown-toggle"
                        data-toggle="dropdown" href="#" role=
                        "button"><i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a click.trigger="appendMessage('received message', 2, $index)" href="#"><i class="fa fa-meh-o"></i>
                                EXAMPLE MESSAGE BACK</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-paperclip"></i>
                                Attach a file</a>
                            </li>
                        </ul>
                    </li>
                    <li show.bind="chatsActive[$index + 1].closed == 'true'">
                        <a click.trigger="open($index)" class="open-link"><i class=
                        "fa fa-plus-square"></i></a>
                    </li>
                    <li show.bind="chatsActive[$index + 1].closed == 'false'">
                        <a click.trigger="close($index)" class="close-link"><i class=
                        "fa fa-minus-square"></i></a>
                    </li>
                </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="chat-content-${$index}" class="dashboard-widget-content">
                    <div class="col-md-12">
                        <ul class="list-unstyled msg_list">
                            <li id="chat-${$index}-message-${$index}" class="animate-chat" 
                            repeat.for="message of chat.messages" class.bind="message.from == 1 ? 'message_dark' : 
                                                                              message.unread == true ? 'message_highlighted' :
                                                                              message.unread == 'cooling' ? 'cooldown message_highlighted' : ''">
                                <a>
                                    <div if.bind="message.direction == 'outgoing'">
                                        <span class="image">
                                            <img alt="img" src="images/${userChat[$parent.$index].outgoing.icon}">
                                        </span>
                                        <span>
                                            <span class="message-title">${userChat[$parent.$index].outgoing.firstName} ${userChat[$parent.$index].outgoing.lastName}</span>
                                            <bootstrap-tooltip id="chat-${$parent.$index}-timestamp-${$index}" data-toggle="tooltip" data-placement="top" title="" class="time">${timeStamps[$parent.$index][$index]}</bootstrap-tooltip>
                                        </span>
                                    </div>
                                    <div if.bind="message.direction == 'incoming'">
                                        <span class="image">
                                            <img alt="img" src="images/${userChat[$parent.$index].incoming.icon}">
                                        </span>
                                        <span>
                                            <span class="message-title">${userChat[$parent.$index].incoming.firstName} ${userChat[$parent.$index].incoming.lastName}</span>
                                            <bootstrap-tooltip id="chat-${$index}-timestamp-${$index}" data-toggle="tooltip" data-placement="top" title="" class="time">${timeStamps[$parent.$index][$index]}</bootstrap-tooltip>
                                        </span>
                                    </div>
                                    <span class="message">
                                        ${message.data}
                                        <div if.bind="message.attachments" id="attachments">
                                            <div repeat.for="attachment of message.attachments" id="attachment">
                                                <div id="youtube" class="video" if.bind="attachment.type == 'video'">
                                                    <iframe src="http://www.youtube.com/embed/${attachment.id}" width="90%" height="auto" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                                <span class="image" if.bind="attachment.type == 'image'">
                                                    <img alt="img" src="images/${attachment.id}">
                                                </span>
                                            </div>
                                        </div>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <form autocomplete="off">
                <div class="form-group">
                    <div class="col-lg-9 col-md-12" id="myDropZone-${$index}">
                        <input id="chat-input-${$index}"" value.bind="tempMessage[$index]" class="form-control tall-input"
                        placeholder="Message..." tabindex="${$index}" type="text">
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <label class="full control-label" style="float:right"><a class=
                        "btn btn-app" click.trigger="sendMessage($index)"><i class="fa fa-envelope-o"></i>
                        send</a></label>
                    </div>
                    <input type="submit" style="display: none" click.trigger="sendMessage($index)" value="Submit">
                </div>
            </form>
        </div>
    </div>
</template>