<template> 
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-user"></i> ${fullName()} <small>messages</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-youtube"></i> Link a video</a>
                    </li>
                    <li><a href="#"><i class="fa fa-paperclip"></i> Attach a file 2</a>
                    </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                <div class="col-md-12">
                <ul class="list-unstyled msg_list">
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face7.ico" alt="img">
                    </span>
                    <span>
                        <span>Michael Long</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Hey bro, I really need your help on some stuff..
                    </span>
                    </a>
                </li>
                <li class="message_dark">
                    <a>
                    <span class="image">
                        <img src="images/face2.ico" alt="img">
                    </span>
                    <span>
                        <span>John Doe</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        What do you need?
                    </span>
                    </a>
                </li>
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face7.ico" alt="img">
                    </span>
                    <span>
                        <span>Michael Long</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Im stuck on this issue, and cannot debug it.. Can you help?
                        <img src="images/error.png">
                    </span>
                    </a>
                </li>
                <li class="message_dark">
                    <a>
                    <span class="image">
                        <img src="images/face2.ico" alt="img">
                    </span>
                    <span>
                        <span>John Doe</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        That means that you are breaking the syntax rules, you need to check the documentation and follow their parameters.
                    </span>
                    </a>
                </li>
                </ul>
                </div>
                <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control tall-input" placeholder="Message...">
                </div>
                <div class="col-md-3">
                    <label class="control-label">
                    <a click.trigger="addUser()" class="btn btn-app">
                    <i class="fa fa-envelope-o"></i> send
                    </a>
                    </label>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-hashtag"></i> Development <small>channels</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-youtube"></i> Link a video</a>
                    </li>
                    <li><a href="#"><i class="fa fa-paperclip"></i> Attach a file 2</a>
                    </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                <div class="col-md-12">
                <ul class="list-unstyled msg_list">
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face.ico" alt="img">
                    </span>
                    <span>
                        <span>Borat</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Hey guys, how's the app developing so far?'
                    </span>
                    </a>
                </li>
                <li class="message_dark">
                    <a>
                    <span class="image">
                        <img src="images/face2.ico" alt="img">
                    </span>
                    <span>
                        <span>John Doe</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Buggy buggy, we need more resources or time to get this done.
                    </span>
                    </a>
                </li>
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face4.ico" alt="img">
                    </span>
                    <span>
                        <span>Daniel Ting</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Yea, this is no where close to release.
                    </span>
                    </a>
                </li>
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face.ico" alt="img">
                    </span>
                    <span>
                        <span>Borat</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Okay, time is running out - please focus more resources on this app to meet deadline.
                    </span>
                    </a>
                </li>
                </ul>
                </div>
                <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control tall-input" placeholder="Message...">
                </div>
                <div class="col-md-3">
                    <label class="control-label">
                    <a click.trigger="addUser()" class="btn btn-app">
                    <i class="fa fa-envelope-o"></i> send
                    </a>
                    </label>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-user"></i> General <small>channels</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-youtube"></i> Link a video</a>
                    </li>
                    <li><a href="#"><i class="fa fa-paperclip"></i> Attach a file 2</a>
                    </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                <div class="col-md-12">
                <ul class="list-unstyled msg_list">
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face6.ico" alt="img">
                    </span>
                    <span>
                        <span>Samuel Goulding</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Can someone link me with a good Ember tutorial?
                    </span>
                    </a>
                </li>
                <li class="message_dark">
                    <a>
                    <span class="image">
                        <img src="images/face2.ico" alt="img">
                    </span>
                    <span>
                        <span>John Doe</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        <iframe src="http://www.youtube.com/embed/T1SC44NJA_A"
                            width="427" height="240" frameborder="0" allowfullscreen></iframe>
                    </span>
                    </a>
                </li>
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face3.ico" alt="img">
                    </span>
                    <span>
                        <span>Daniel Ting</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Very informative.
                    </span>
                    </a>
                </li>
                <li>
                    <a>
                    <span class="image">
                        <img src="images/face.ico" alt="img">
                    </span>
                    <span>
                        <span>Borat</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Who can link me with a borat movie!
                    </span>
                    </a>
                </li>
                </ul>
                </div>
                <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control tall-input" placeholder="Message...">
                </div>
                <div class="col-md-3">
                    <label class="control-label">
                    <a click.trigger="addUser()" class="btn btn-app">
                    <i class="fa fa-envelope-o"></i> send
                    </a>
                    </label>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>
