<template>
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="#" class="site_title"><i class="fa fa-ellipsis-h"></i> <span>${appName}</span></a>
            </div>
            <div class="clearfix"></div>
    <compose view="./sidebar-profile.html"></compose>
    <compose view="./sidebar-menu.html"></compose>
    <compose view="./sidebar-footer.html"></compose>
      </div>
    </div>
</template>