<template> 
    <div class="menu_section">
    <h3 style="
        padding-top: 75px;
        font-size: 15px;
    ">General</h3>
    <ul class="nav side-menu">
    <li><a><i class="fa fa-hashtag"></i> Channels <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="#">New Channel <span class="fa fa-plus"></a></li>
            <li><a href="#"># General</a></li>
            <li><a href="#"># Development</a></li>
        </ul>
    </li>
        <li><a><i class="fa fa-envelope"></i> Messages <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="#">New Message <span class="fa fa-plus"></a></li>
            <li><a href="#">Michael Long</a></li>
            <li><a href="#">Daniel Ting</a></li>
        </ul>
        </li>
    </ul>
    </div>
</template> 