<template>
    <require from="./navbar"></require>
    <require from="./contact-list"></require>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section active">
            <h3 style="
            padding-top: 100px;
            font-size: 15px;
        ">${page}</h3>
            <ul show.bind="menu == 'home'" class="nav side-menu">
                <contact-list><!-- Messages menu --></contact-list>
            </ul>
            <ul show.bind="menu == 'settings'" class="nav side-menu">
                <li class="">
                    <a route-href="route: home;" href="#">
                        <i class="fa fa-home"></i> Home <span class="onhover fa fa-chevron-right"></span>
                    </a>
                    <a route-href="route: settings; params.bind: { page: 'profile' }"
                    class.bind="page == 'profile'  ? 'active' : ''"  href="#">
                        <i class="fa fa-user"></i> Profile <span class="onhover fa fa-chevron-right"></span>
                    </a>
                    <a route-href="route: settings; params.bind: { page: 'security' }"
                     class.bind="page == 'security'  ? 'active' : ''" href="#">
                        <i class="fa fa-lock"></i> Security <span class="onhover fa fa-chevron-right"></span>
                    </a>
                    <a route-href="route: settings; params.bind: { page: 'appearance' }"
                    class.bind="page == 'appearance'  ? 'active' : ''"  href="#">
                        <i class="fa fa-eye"></i> Appearance <span class="onhover fa fa-chevron-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>