<template>
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a route-href="route: home;" href="#" class="site_title"><i class="fa fa-ellipsis-h"></i> <span>${myAccount.settings.appName}</span></a>
            </div>
            <div class="clearfix"></div>
            <compose view="../components/sidebar-profile.html"></compose>
            <compose view-model="../components/sidebar-menu"  model.bind="page"></compose>
            <compose view="../components/sidebar-footer.html"></compose>
        </div>
    </div>
</template>