<template>
  <div class.bind="myAccount.settings.navigation == 1 ? 'nav-sm' : 'nav-md'">
    <div class="main-wrapper body ${myAccount.settings.theme}-theme" class.bind="isPhone == true ? 'isPhone' : ''">
      <div class="main_container">
        <div slot="leftView">
          <compose view-model="./leftView" model.bind="page"></compose>
        </div>
        <div slot="topNav">
          <compose view="../components/top-nav.html"></compose>
        </div>
        <div slot="rightView">
          <div class="right_col" role="main">
            <compose show.bind="page == 'home'" view="../app/chatMain.html"></compose>
            <compose show.bind="page == 'profile'" view-model="../users/settingsProfile"></compose>
            <compose show.bind="page == 'security'" view="../users/settingsSecurity.html"></compose>
            <compose show.bind="page == 'appearance'" view-model="../users/settingsAppearance"></compose>
            <compose show.bind="page == 'channels'" view-model="../users/settingsChannels"></compose>
            <compose show.bind="page == 'contacts'" view-model="../users/settingsContacts"></compose>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>